.container {
  width: 100vw;
  height: 50px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
}

.logo {
  width: 30px;
  height: 30px;
}
